<!DOCTYPE html>

<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container">
        <br>
        <h1>Log in</h1>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">**</span>
            <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
        </div>
        <br>
        <button type="button" class="btn btn-default">Log in</button>
    </div>

</body>
</html>