<!doctype html>

<!-- some boilerplate, delete or modify as you wish -->

<!--- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> --->

<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

<br>
<div class="container">
    <div class="jumbotron">
        <h1>Down Time Tracker</h1>
        <p>Basic web app to track down time activities</p>
    </div>
</div>

<div class="container">
    <table class="centered thick-border">
        <tr>
            <th>{{ col1 }}</th>
            <th>{{ col2 }}</th>
        </tr>
        <!---
        {% for k, v in data.items() %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
        --->

        {% for item in activities %}

            <tr>
                <td>{{ item }}</td>
            </tr>
        {% endfor %}

    </table>

    <br>
    <button type="button" class="btn btn-default">Sign up</button>
    <button type="button" class="btn btn-default">Sign in</button>
</div>
<br>


<!--- Images: <img src="{{url_for('static', filename='images/170515_011104.jpg')}}" style='width:250px;height:250px' /> --->

